html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald',sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: "Montserrat", sans-serif;*/
    font-family: 'Oswald',sans-serif;
    font-weight: 400;
}

.w3-row-padding img {
    margin-bottom: 12px;
}

.w3-top, .w3-sidebar{
    background-color: #222 !important;
}

/* Set the width of the sidebar to 120px */
.w3-sidebar {
    width: 120px;
}

/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
    margin-left: 120px;
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0 !important;
        margin-top: 38px;
    }
}

/***********************************************************/
.db-black{
    color:#ffb400!important;
}
.db-hover-black:hover{
    color:#ffb400!important;
    background-color:#000!important
}

.db-grey-04{
    background: rgba(0,0,0,0.4);
}

.db-text-yellow, .db-hover-text-yellow:hover {
    color:#ffb400!important;
}

.db-border-bottom {
    border-bottom: 1px solid #343a40!important;
}

.db-font-weight-200{
    font-weight: 200;
}

.db-font-weight-300{
    font-weight: 300;
}

.db-font-weight-600{
    font-weight: 600 !important;
}

#about, #skills, #experience, #education, #blog, #contact {
    width: 100%;
    overflow: hidden;
}

.db-zindex-2{
    z-index:2;
}

.db-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.db-flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.db-black{
    background-color: #222 !important;
}

/***********************************************************/
#mySidebar {
    display: none;
    right: 0;
    z-index: 4;
}

/***********************************************************/
.db-message-slider{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 40px 35px;
    text-shadow: 2px 2px 2px #000;
}

.db-title-resumen{
    color: #d2d2d2;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    margin: 15px 0;
    padding: 10px 0;
}

.mySlides {
    display:none;
}

.w3-badge {
    height:13px;
    width:13px;
    padding:0;
}

/***********************************************************/
.db-hr-title{
    width: 70px;
    height: 5px;
    background-color: #ffb400;
    margin: 25px 0 50px;
}

.db-text-ordinario{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.db-border-yellow{
    border: 2px solid #ffb400;
}

/***********************************************************/


.skills-principal{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    height: 100%;  
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
  }
  
  .skills-principal h4{
      font-weight: 300;
      font-style: normal;
      font-size: 25px;
      text-transform: uppercase;
      line-height: 0.9;
  }
  
  .full-divider{
      width: 100%;
      height: 1px;
      background-color: #dfdfdf;
      margin: 50px 0;
      clear: both;
  }
  
  .lista-skills{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 1rem;
  }
  
  .progress-value-lenguaje{
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
      font-size: 42px;
  }
  .progress-value-lenguaje::after{
    content: '%';
    font-weight: 300;
  }
  
  .idioma h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

  .process-value-100{
      background: #d4d4d4;
      width: 100%;
      position: relative;
      top: 10px;
  }
  .progress-value-barra{
    height: 6px;
    background-color: #8f8f8f;
  }
  
  
  /* ------------------ */
  
.progress {
    width: 150px;
    height: 150px !important;
    line-height: 150px;
    background: none !important;
    margin: 20px auto;
    box-shadow: none;
    position: relative;
}
.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #d2d2d2;
    position: absolute;
    top: 0;
    left: 0;
}
.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left {
    left: 0;
}
.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right {
    right: 0;
}
.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value {
    width: 96%;
    height: 96%;
    border-radius: 50%;
    background: #ffffff;
    color: #ffb400;
    line-height: 144px;
    text-align: center;
    position: absolute;
    top: 2%; 
    left: 2%; 
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 42px;

}
.progress.avanzado .progress-bar {
    border-color: #8f8f8f;
}
.progress.avanzado-80 .progress-left .progress-bar {
    animation: loading-3 1.5s linear forwards 1.8s;
}

.progress.avanzado-60 .progress-left .progress-bar {
    animation: loading-6 1.5s linear forwards 1.8s;
}

.progress.yellow .progress-bar {
    border-color: #fdba04;
}

.progress.yellow .progress-right .progress-bar {
    animation: loading-3 1.8s linear forwards;
}

.progress.yellow .progress-left .progress-bar {
    animation: none;
}

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}

    
@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(108deg);
        transform: rotate(108deg);
    }
}

@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(72deg);
        transform: rotate(72deg);
    }
}


@keyframes loading-6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}

@keyframes loading-7 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes loading-8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
}

/***********************************************************/

.icon-block, .periodo, .funciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-block i {
    font-size: 60px;
    color: #ffb400;
}

.experience-details:hover .icon-block i{
    font-size: 73px;
    color: #000;
}

.periodo .experience-principal {
    margin-top: 20px;  
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.periodo .experience-principal h5{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.periodo .experience-principal h4{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;  
    margin: 0;
}
.periodo .experience-principal span{
    font-weight: 400;
    color: #000;
}

.funciones p{
    margin-top: 1em;
}

/***********************************************************/

.leaflet-top, .leaflet-bottom{
    z-index: 1 !important;
}
.leaflet-pane{
    z-index: 1 !important;
}

/***********************************************************/
/*Cookie Consent Begin*/
#popupCook {
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: 'Oswald',sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#popupCook a {
    color: #ffb400;
    text-decoration: none;
}
#closePopupCook {
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closePopupCook:hover {
    color: #FFF;
}
#popupCook a.popupCookOK {
    background-color: #ffb400;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    margin: 0 60px 0 10px;
}
#popupCook a.popupCookOK:hover {
    background-color: #ffb400;
}
/*Cookie Consent End*/

/***********************************************************/
@media (min-width: 600px){
    html{
        overflow-x: auto;
    }

    .mySlides {
        width: 100%;
        display: block;
        height: 100%;
    }

    .db-message-slider {
        bottom: 59px;
        width: auto;
        height: auto;
    }

    #about, #skills, #experience, #education, #blog, #contact {
        padding: 70px !important;
        overflow-y: auto;
    }

    .periodo{
        align-items: flex-start;
    }

    .periodo .experience-principal {
        margin-top: 0px;  
        text-align: left;
    }
    
    .periodo .experience-principal h5{
        margin-top: 0px;  
    }


    #main{
        overflow: hidden;
        position: absolute;
        left:0;
        right: 0;
        height: 100%;
    }

    .main-wrapper{
        position: absolute;
        width: 6950px;
        height: 100%;
        overflow: hidden;
    }

    .db-content{
        position: relative;
        max-width: 850px;
        width: 850px;
        height: 100%;
        float: left;
    }

    .db-img{
        width: 100%;
        display: block;
        height: 100%;
    }

    .db-footer{
        position: relative;
        max-width: 1200px;
        width: 1200px;
        height: 100%;
        float: left;
    }

}



